body {
  background-color: F5F5F5;
  font-family: Raleway, san-serif;
  font-weight: 400;
  margin: 0;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

a {
  text-underline-offset: 4px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 92px 50px 96px 50px;
}

.header-menu {
  width: 391.48px;
  height: 22px;
  font-size: 18px;
  line-height: 17px;
}

.header-links-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-link-active {
  border-bottom: none;
  width: 66px;
  height: 21px;
}

.header-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header-links-list-item {
  list-style: circle;
}

.header-links-list-item-space {
  padding-right: 4px;
}

.header-links-list-item-no-bullit {
  list-style: none;
}

.header-logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  font-style: normal;
  flex-direction: column;
  font-size: 18px;
  line-height: 24.3px;
}

.header-address {
  max-width: 240px;
  height: 98px;
  justify-self: end;
}

.cover {
  margin: 0;
  width: 1100px;
  height: 757px;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center center;
  z-index: 1;
  text-transform: uppercase;
}

.cover-title {
  font-weight: bold;
  font-size: 100px;
  color: #ffffff;
  z-index: 3;
  position: absolute;
  top: 165px;
  right: 50px;
  bottom: 207px;
  left: 50px;
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 17px;
  letter-spacing: 0.3em;
}

.cover-title-start {
  align-self: start;
}

.cover-title-middle {
  align-self: center;
  margin-left: 30px;
}

.cover-title-end {
  align-self: end;
  margin-right: -30px;
}

.discription {
  position: absolute;
  z-index: 2;
  top: 656px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  width: 1000px;
  height: 51px;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 104px;
  text-transform: uppercase;
}

.subline {
  height: 28px;
  word-spacing: 18.537px;
  justify-self: start;
  align-self: center;
}

.cover-button {
  width: 256px;
  height: 100%;
  justify-self: end;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 120px;
}

.lots-title {
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots-articles {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.lots-articles-item {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  position: relative;
  padding: 48px 40px;
}

.lots-articles-link {
  display: flex;
  height: 100%;
  text-decoration: none;
}

.lots-articles-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots-articles-title {
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
}

.lots-articles-text {
  font-weight: lighter;
  text-transform: none;
  text-decoration: none;
  font-size: 20px;
  z-index: 1;
  line-height: 120%;
}

.lots-articles-item-film {
  background-image: url("../images/card-lot-01.jpg");
}

.lots-articles-item-book {
  background-image: url("../images/card-lot-02.jpg");
}

.lots-articles-item-painting {
  background-image: url("../images/card-lot-03.jpg");
}

.lots-more {
  font-size: 20px;
  color: #000000;
  margin-left: 40px;
  text-decoration-thickness: 1px;
}

.about {
  margin: 120px 24px 180px;
  display: grid;
  grid-template-columns: 333px 1fr;
}

.about-logo {
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 47px 320px;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-article {
  margin: 135px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  gap: 99px;
}

.about-title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about-text {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
}

.footer-address {
  margin-left: 50px;
}

.footer-menu {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.footer-links-list {
  list-style-type: none;
  text-align: center;
}

.footer-link-active {
  border-bottom: none;
}

.footer-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-left: 24px;
}

.socials-logo {
  width: 48px;
  height: 48px;
}
