body {
    background-color: F5F5F5;
    font-family: Raleway, san-serif;
    font-weight: 400;
    margin: 0;
}

a {
    text-underline-offset: 4px;

}

.content_section {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    min-width: 1100px;
    min-height: 293px;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
    line-height: 24.3px;
}

.header_menu {
width: 391.48px;
height: 22px;

}

.header_links-list {
    display: flex;
    width: 391.48PX;
    height: 22px;
    gap: 31.48px;
    list-style: none;
    padding: 0;
    margin: 0;


}

.header_link_active {
border-bottom: none;
width: 66px;
height: 21px;
}

.header_link {
border-bottom: 1px solid;
text-decoration: none;
}

.header_links-list-item {
    font-size: 18px;
    list-style: circle;
    padding-left: 4px;
    white-space: nowrap;
}

.header_links-list-item_no-bullit {
    list-style: none;
    padding-left: 0;
}


.header_logo {
    display: block;
    grid-column: 2;
    width: 148px;
    height: 105px;
    margin-left: 36.42px;
    
    
}

.header_logo_image {


}

.adress_header {
    max-width: 240px;
    height: 98px;
    justify-self: end;
    display: flex;
    flex-direction: column;

}


main {
    

}

.cover {
    margin-top: 180 24 120;

}

.cover_title {
    padding: 165 50 106 50;

}

.discription {
    padding: 0 50 50 50;

}

.subline {

}

.cover_button {

}

.lots {
    margin-top: 0 24;
    

}

.lots_title {

}

.lots_articles {

}

.lots_more {

}

.about {

}

.about_logo {
    padding: 35 72 320 47;

}

.about_article {
    padding: 133 0 13 0;

}

.about_title {

}

.about_text {

}

.footer {
    margin-top: 180px;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 0px;

}

.adress_footer {


}

.socials {

}
